.SearchBar
{
    margin: 0 0 0 80%;
    background-color: red;
    border-radius: 5%;
}
#div{
    display: inline-block;
}

.container-search{
    display : flex;
    flex-direction: row;
    align-self: center;
}

.item-search{
    display: flex;
    margin: 0 0 0 5%;
    align-self: start;
    background-color: blue;
}
