.SearchBar
{
    margin: 0 0 0 80%;
    padding: 0 0 0 0;
    background-color: red;
    border-radius: 5%;
}
#div{
    display: inline-block;
}

.container{
    display : flex;
    flex-direction: row;
    align-self: center;

}

.item{
    display: flex;
    margin: 0 0 0 35%;
    align-self: start;
}
