
.CSS {
    display: inline-block;
    padding: 2%;
    background-color: #f4511e;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    margin: 0 0 0 0.2%;
    width: 40%;
}

.CSS:hover{
    opacity: 1;
}

.container{
    display : flex;
    flex-direction: row;
    align-self: center;
    flex-grow: 1.5;

}

.item{
    display: flex;
    width: 100%;
    margin: 0 0 0 35%;
    padding-left: 1%;
}
